

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    position: relative;
    padding: 0;
    margin: 0;
}

#game-container {
    text-align: center;
    margin-bottom: 40px; /* Lisää väli pelin ja kaupan väliin */
}


#shop-container {
    background-color: #ddd;
    padding: 20px;
    border-left: 2px solid #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shop-container h2 {
    font-size: 36px;
    margin-bottom: 40px; /* Lisää tilaa kaupan otsikon alle */
}
.shop-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.shop-column {
    flex: 1;
    margin: 0 10px; /* Väli sarakkeiden välillä */
}
.shop-item {
    position: relative; /* Asetetaan suhteellinen positio, jotta kuvaus voi tulla oikein */
    margin-bottom: 20px;
}


.info-button {
    width: 350px;
    height: 90px;
    font-size: 20px;
    padding: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.info-button:hover {
    background-color: #45a049;
}
.description {
    display: none;  /* Piilotetaan kuvaus oletuksena */
    position: absolute;  /* Asetetaan kuvaus suhteelliseksi napin kanssa */
    top: -170%;  /* Asetetaan kuvaus napin yläpuolelle */
    left: 50%;  /* Keskitetään kuvaus vaakasuunnassa */
    transform: translateX(-50%);  /* Keskitetään kuvaus täydellisesti */
    padding: 50px;  /* Pienennetään paddingia */
    background-color: #696969;
    color: white;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    text-align: center;
    z-index: 10; /* Varmistaa, että kuvaus tulee napin päälle */
}
.info-button:hover + .description {
    display: block; /* Näyttää kuvauksen, kun hiiri on napin päällä */
}

#hands-column, #collectors-column, #factories-column {
    text-align: left;
}




/*HAND TOIMINTO*/
#hand-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Sormen koko */
    height: 50px;
    z-index: 10;
    display: none; /* Piilotetaan sormi aluksi */
}
#hand {
    position: absolute;
    width: 100%; /* Käytetään täysikokoista kuvaa */
    animation: moveHand 4s linear infinite;
}
@keyframes moveHand {
    0% { top: 0; left: 50%; transform: translateX(-50%) translateY(0); }
    25% { top: 50%; left: 100%; transform: translateX(-100%) translateY(-50%); }
    50% { top: 100%; left: 50%; transform: translateX(-50%) translateY(-100%); }
    75% { top: 50%; left: 0; transform: translateX(50%) translateY(50%); }
    100% { top: 0; left: 50%; transform: translateX(-50%) translateY(0); }
}





#money-tree {
    width: 400px;
    cursor: pointer;
    transition: transform 0.1s;
}
#money-tree:active {
    transform: scale(1.1);
}
#money-tree.shake {
    animation: shake 0.2s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

#counter {
    font-size: 24px;
    margin: 20px;
}
